:root {
  --englishViolet: #443850;
  --grullo: #bcaa99;
  --sugarPlum: #8e5572;
  --darkSugarPlum: #73455d;
}
body {
  font-family: Verdana;
}

h1,
h2 {
  color: var(--englishViolet);
  font-family: Comfortaa, sans-serif;
}

h1 {
  font-weight: bold;
}

.negative-margin-bottom {
  margin-bottom: -0.5em;
}

.coloredBackground {
  background-color: var(--sugarPlum);
  padding: 1em;
  color: white;
  border-radius: 1em;
}

.textbox {
  background-color: var(--grullo);
  color: var(--englishViolet);
  padding: 0.5em;
  width: 25%;
  min-width: 150px;
  max-width: 500px;
  border-radius: 1em;
}

blockquote {
  text-align: left;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.round-corners {
  border-radius: 3rem;
}

.align-center {
  text-align: center;
}

.big-font {
  font-size: 3.5rem;
  margin: 0;
}

.special-font {
  font-family: Comfortaa, sans-serif;
}
.medium-font {
  font-size: 1.5rem;
}

/*Grid*/
.grid-container {
  margin: 2rem;
  display: grid;
  gap: 2rem;
  align-items: top;
  align-content: top;
}

.grid-row-one {
  grid-row-start: 1;
}

.grid-row-span-two {
  grid-row: span 2;
}

.grid-row-span-three {
  grid-row: span 3;
}
@media (min-width: 50em) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-col-right {
    grid-column-start: 2;
  }
  .grid-row-two {
    grid-row-start: 2;
  }
  .grid-span-two {
    grid-column: span 2;
  }
}

/*Meny*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--sugarPlum);
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--sugarPlum);
  top: 0;
  width: 100%;
}

li a:hover {
  background-color: var(--darkSugarPlum);
}
.active {
  background-color: var(--englishViolet);
}

a.menu {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Comfortaa, sans-serif;
}

@media (min-width: 40em) {
  li {
    float: left;
  }
}

/*Formulär*/
form {
  margin: 0 auto 2em;
  max-width: 500px;
  min-width: 200px;
}
fieldset {
  border: none;
}

label {
  display: block;
  margin: 1em 0;
}

input,
select {
  width: 100%;
  background-color: white;
  font-family: Verdana;
  border: none;
  box-sizing: border-box;
  min-height: 2em;
}

input[type="submit"] {
  display: block;
  margin: 1rem auto;
  width: 50%;
  min-height: 2em;
}

.inline {
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  width: unset;
}
