/*
Färgvariabler
Allmän CSS + allmänna klasser för stil
Allämn CSS + allmänna klasser för stil för små skärmar
Grid
Grid för stora skärmar
Meny
Meny för små skärmar
Formmlär
Träningsinformation
*/

:root {
  --englishViolet: #443850;
  --grullo: #bcaa99;
  --sugarPlum: #73455d;
  --darkSugarPlum: #6d4258;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana;
}

img {
  width: 100%;
}

h1,
h2 {
  margin-top: 1em;
  font-family: Comfortaa, sans-serif;
}
h1 {
  font-weight: bold;
}
p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

a {
  color: var(--sugarPlum);
  text-decoration: none;
}

a:hover:not(.menu) {
  text-decoration: underline;
}

blockquote {
  text-align: left;

  width: 70%;
  min-width: 150px;
  max-width: 500px;
}

/*Allmänna klasser för stil*/
.colored-text {
  color: var(--englishViolet);
}

.coloredBackground {
  padding: 1em;
  border-radius: 1em;

  background-color: var(--sugarPlum);
  color: white;
}

.textbox {
  width: 25%;
  min-width: 150px;
  max-width: 500px;

  padding: 0.5em;
  border-radius: 1em;

  background-color: var(--grullo);
  color: var(--englishViolet);
}

.round-corners {
  border-radius: 3rem;
}

.align-center {
  text-align: center;
}

.big-font {
  margin: 0;
  font-size: 3em;
}

.special-font {
  font-family: Comfortaa, sans-serif;
}

.medium-font {
  font-size: 1.5em;
}

.margin {
  margin: 1rem;
}

@media (max-width: 30em) {
  h1,
  .big-font {
    font-size: 10vw;
  }

  h2 {
    font-size: 7vw;
  }

  p {
    font-size: 5vw;
  }

  blockquote {
    width: 100%;

    font-size: 5vw;
  }

  blockquote.medium-font {
    font-size: 6vw;
  }
  a.medium-font {
    font-size: 6vw;
  }
}

/*Grid*/
.another-grid {
  align-items: top;

  display: grid;
  max-width: 90em;
}
.grid-container {
  align-items: top;

  display: grid;
  max-width: 90em;

  gap: 2rem;
  margin: 1rem;
}

.grid-row-one {
  grid-row-start: 1;
}

.grid-row-span-two {
  grid-row: span 2;
}

.grid-row-span-three {
  grid-row: span 3;
}

@media (min-width: 50em) {
  .another-grid {
    padding: 2.5em;
    margin: auto;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 2.5em;
    margin: auto;
  }
  .grid-col-right {
    grid-column-start: 2;
  }
  .grid-row-two {
    grid-row-start: 2;
  }
  .grid-span-two {
    grid-column: span 2;
  }
}

/*Meny*/
header a {
  text-decoration: none;
  font-family: Comfortaa, sans-serif;
}

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;

  height: 50px;

  padding: 0 20px;

  background-color: var(--sugarPlum);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}
ul a {
  color: white;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100%;

  list-style: none;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}

#brand a {
  color: white;
}

/*Meny för mobil*/
#hamburger-icon {
  display: none;

  margin: auto 0;

  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;

  margin: 6px 0;

  background-color: white;

  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mobile-menu {
  display: none;
  position: fixed;

  left: 0;
  top: 50px;

  height: calc(100vh-50px);
  width: 100%;

  background-color: var(--darkSugarPlum);
}

@media (max-width: 40em) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/*Formulär*/
form {
  width: 100%;
  min-width: 200px;
  margin: 0 auto 2em;
}
@media (min-width: 40em) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    min-width: 350px;
    height: 35em;
  }
}

fieldset {
  border: none;
}

label {
  display: block;

  margin: 1em 0;
}

input,
select {
  width: 100%;
  min-height: 2em;
  border: none;

  background-color: white;

  font-family: Verdana;
}

input[type="submit"] {
  display: block;

  width: 50%;
  min-height: 2em;

  margin: 1rem auto;
}

.inline {
  vertical-align: middle;

  width: unset;

  margin: 0 0.5em 0 0;
}

/*Träningsinformation*/
.workout-groups {
  border-radius: 0.8rem;

  background-color: var(--sugarPlum);
  color: white;
}
button.heading {
  text-align: left;
  width: 100%;

  border: none;
  border-radius: 1rem;

  padding-left: 1rem;

  background-color: var(--sugarPlum);
  color: white;
}

p.text {
  width: 100%;

  background-color: var(--sugarPlum);
  color: white;

  margin: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.searchbar {
  height: 2rem;

  border: solid 2px var(--englishViolet);
  border-radius: 0.5rem;
}
@media (min-width: 40em) {
  .searchbar {
    width: 50%;

    margin: auto;
  }
}

.screen-reader {
  opacity: 0;
  font-size: 0;
}
/*Kalender*/

.calender {
  display: grid;
  gap: 1rem;

  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;

  background-color: var(--sugarPlum);
  color: white;
}

.day {
  padding: 1rem;
  border: solid 2px var(--grullo);
  border-radius: 1rem;
}

h3 {
  font-family: Comfortaa, sans-serif;
}

h4 {
  margin-top: 1rem;
  margin-bottom: -0.5rem;

  font-family: sans-serif;
  font-weight: bold;
}

@media (min-width: 50em) {
  .calender {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}
